<!-- start:footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="widget-footer">
                    <h4 class="title-widget-footer">
                        このサイトについて
                    </h4>
                    <p class="content-footer">
                        このサイトではプログラミングのサンプルコードやツール、ソフトウェア開発において役に立ちそうな技術的な情報などを掲載しています。
                    </p>
                    <p class="content-footer">
                        サイトオリジナルのソースに関して著作権はサイト管理者が保持します。 ただし、特に断りがない限り、ソースプログラムを自由に参照、改変してご利用いただけます。
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="widget-footer">
                    <h4 class="title-widget-footer">Powered By</h4>
                    <p class="content-footer">
                        サイトを構築する上でお世話になっているテクノロジーや画像のサイト
                    </p>
                    <p class="content-footer text-uppercase">
                        <a href="http://www.asp.net/mvc">ASP.NET MVC</a> /
                        <a href="https://jquery.com/">jquery </a> /
                        <a href="http://knockoutjs.com/">knockoutjs</a> /
                        <a href="http://getbootstrap.com/">Twitter Bootstrap</a> /
                        <a href="http://headjs.com/">HeadJS</a> /
                        <a href="https://highlightjs.org/">highlight.js</a> /
                        <a href="http://ckeditor.com/">ckeditor</a> /
                        <a href="http://cc-library.net/">cc library</a> /
                        <a href="http://azure.microsoft.com/ja-jp/services/search/" title="Azure Search">Azure Search</a> 
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end:footer -->
<!-- start:footer bottom -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p class=" text-uppercase">Copyright  &copy; 2008 - @DateTime.Today.Year  net planet-es</p>
            </div>
            <div class="col-md-4">
                <p class="pull-right text-uppercase">
                    <a href='@Url.Action("Archives", "Article")'>Home</a>
                    <a href='@Url.Action("SendMail", "Contact")'>Contact</a>
                </p>
            </div>
        </div>
    </div>
    <div class="backToTop col-xs-3 col-xs-offset-9">
        <a style="">Top へ</a>
    </div>
</div>
<!-- end:footer bottom -->
