
<h2>
    <a href='@Url.Action("Archives", "Article", new { id ="", area = "" })' class="" title="RSS2.0"><i class="fa fa-home" style="color:whitesmoke;"></i></a>
    <a href='@Url.Action("Rss20", "Feed", new { area = "" })' class="" title="RSS2.0"><i class="fa fa-rss" style="color:whitesmoke;"></i></a>
    <a href='@Url.Action("Atom10", "Feed", new { area = "" })' class="" title="ATOM1.0"><i class="fa fa-rss-square" style="color:whitesmoke;"></i></a>
    <a href='@Url.Action("SiteMap", "Feed", new { area = "" })' class="" title="SITEMAP"><i class="fa fa-sitemap" style="color:whitesmoke;"></i></a>
</h2>
